

<header>
  <div class="header d-flex">
      <div class="container">
          <div class="row flex">
             <div class="toolbar   flex"   >
                <div>
                  <h1 class="title_main "  >
                    Today currency rites</h1>
                </div>

             <div style="margin-left:5rem;">
                      <app-httpclient></app-httpclient>
             </div>

          </div>
          <a><img src="assets/currency-3.jpeg" alt="logo" class="logo" /></a>

        </div>
      </div>



  </div>
</header>




<div class="content" role="main">

    <app-home></app-home>
    <router-outlet></router-outlet>

  </div>
    <!-- Footer -->
<footer>
    <div class="container-footer">
      <div class="row flex">
             <div class="div"> <h4> Love it? hear you can see code &nbsp;</h4></div>
             <div class="div"> <a href="https://github.com/natlee77/exchange_currency.git" target="_blank" rel="noopener" title="github"> <a  ><img src="assets/GitHub-Mark-32px.png" alt="git" class="git" /> </a> </a></div>
            </div>
   <div class="row">
      <!-- <fa-icon [icon]='faCopyright'></fa-icon> -->

      Copyright {{ footerDate | date :'yyyy'}}. All rights reserved.
   </div>

    </div>
</footer>











